<div class="card-container">
    <input [(ngModel)]="filtroNombre" placeholder="Filtrar por nombre">
    <div *ngFor="let pais of filtrarPaises()" class="card" (click)="seleccionarPais(pais)">
      <div class="card-content" [class.selected]="pais === paisSeleccionado">
        <h2>{{ pais.name }}</h2>
        <p><strong>Continente:</strong> {{ pais.region }}</p>
        <p><strong>Idiomas:</strong></p>
          <ul>
            <li *ngFor="let idioma of pais.languages">{{ idioma.name }}</li>
          </ul>
      </div>
      <div class="card-flag">
        <img [src]="pais.flags.svg" alt="{{ pais.name }} Flag">
      </div>
    </div>
  </div>