<body>
  <div class="navbar" style="background-color: #333; color: white; padding: 10px;">
    <button (click)="redirigirHome()">Volver atrás</button>
  </div>  
    <main>
      <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
           
          </a>
        </header>
    
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Nuestros productos</h1>
            <div>
              <app-listado-producto (productoSeleccionadoEvent)="this.procesarProductoSeleccionado($event)" ></app-listado-producto>
            </div> 
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Producto</h2>
              <app-unico-producto *ngIf="productoSeleccionado" [productoSeleccionado]="productoSeleccionado" ></app-unico-producto>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Pais</h2>
              <app-detalles-pais *ngIf="productoSeleccionado" [pais]="pais" ></app-detalles-pais>
            </div>
          </div>
        </div>
    
        <footer class="pt-3 mt-4 text-muted border-top">
          © 2021
        </footer>
      </div>
    </main>
    
    
        
      
    
    </body>