body {
    font-family: Arial, sans-serif;
    background-color: #602643;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
    background-color: #813757;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 97%;
}

h1 {
    text-align: center;
}

.content-container {
    display: flex;
    align-items: stretch;
}

.form-container {
    flex: 1;
    padding: 20px;
}

.list-container {
    top:50px;
    flex: 1;
    padding: 20px;
    max-height: 500px; /* Establece la altura máxima de la lista */
    overflow: auto; /* Agrega desplazamiento vertical si la lista excede la altura máxima */
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    background-color: #A24D6B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    left: 10px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 104%;
}

button:hover {
    background-color: #C0677D;
}

.error-message {
    background-color: #FF6B6B; /* Color de fondo para el mensaje de error */
    color: #fff; /* Color de texto del mensaje de error */
    padding: 10px; /* Espaciado interno del mensaje de error */
    border-radius: 5px; /* Borde redondeado */
    text-align: center; /* Alineación de texto centrada */
    margin: 10px auto; /* Centra horizontalmente y agrega espacio vertical */
    max-width: 300px; /* Ancho máximo del mensaje de error */
}

/* Estilo para el mensaje de éxito */
.success-message {
    background-color: #4CAF50; /* Color de fondo verde */
    color: #fff; /* Color de texto del mensaje de éxito */
    padding: 10px; /* Espaciado interno del mensaje de éxito */
    border-radius: 5px; /* Borde redondeado */
    text-align: center; /* Alineación de texto centrada */
    margin: 10px auto; /* Centra horizontalmente y agrega espacio vertical */
    max-width: 300px; /* Ancho máximo del mensaje de éxito */
}